
<%= render 'form' %>

<ul class="msg-list" >
<% @messages.reverse.each do |message| %>
  <li>
	<%= link_to message.body, message %>
	<div class="timestamp">
		<%=time_ago_in_words(message.created_at)%> ago
	</div>
  </li>
<% end %>
</ul>

<br />