<div class="index">
<%= render 'form' %>

<ul class="msg-list" >
<% @messages.reverse.each do |message| %>
  <li>
	<div class='message_user'><%=message.user%> said:</div>
	<div class="message"><%= link_to message.body, message %></div>
	<div class="timestamp">
		<%=time_ago_in_words(message.created_at)%> ago
	</div>
  </li>
<% end %>
</ul>

</div>