// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.msg-list {
	margin: 2em 0; 
	padding: 0
}

ul.msg-list li {
	list-style-type: none; 
	border-bottom: 1px solid #aaa; 
	padding:0.5em;
}

div.timestamp {
	text-align:right; 
	font-size: 0.8em; 
	color:#888;
}

.form textarea {
	width: 100%;
}

.form div.actions {
	text-align: right;
}