<!DOCTYPE html>
<html>
<head>
  <title>Miniblog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div style="width: 34em; margin: 2em auto">
<%= yield %>
</div>
</body>
</html>
