<!DOCTYPE html>
<html>
<head>
  <title>Miniblog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="frame">
		<%= yield %>
	</div>
</body>
</html>
